/* Default styles */
.res-sec {
  margin-top: 2%;
  background-color:#C5FAD5 ;
  padding: 40px;
  display: flex;
  flex-direction: column; /* Ensure a vertical layout for all screens */
  align-items: center;
  text-align: center; /* Center the text */
}

.res-sec h1 {
  font-size: 40px;
  color: black;
}

.res {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns for all screens */
  /* background-color: white; */
  width: 80%;
  padding: 30px;
  /* border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  gap: 20px;
}

.res-img {
  border-radius: 10%;
  overflow: hidden;
  text-align: center;
  order: 1; /* Change the order for mobile screens to place the image at the top */
}

.res-img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.res-info {
  text-align: justify;
  order: 2; /* Change the order for mobile screens to place the info below the image */
}

.res-info p {
  font-size: 23px;
  color: black;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .res {
    grid-template-columns: 1fr; /* Single column for mobile */
  }
}
