/* styles.css */

.about-container {
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr; /* Single column by default */
    gap: 20px;
  }
  
  .testimonials,
  .reviews {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
  }
  
  @media (min-width: 768px) {
    .about-container {
      grid-template-columns: repeat(2, 1fr); /* Two columns on larger screens */
    }
    
    .testimonials,
    .reviews {
      max-width: 400px;
      margin: 0 auto;
    }
  }
  
  .user-review-form {
    display: flex;
    flex-direction: column;
  }
  
  .user-review-form textarea,
  .user-review-form input[type="number"],
  .user-review-form button {
    margin-bottom: 10px;
  }
  
  @media (min-width: 768px) {
    .user-review-form {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  @media (min-width: 768px) {
    .user-review-form textarea {
      flex: 2;
      margin-right: 10px;
    }
    
    .user-review-form input[type="number"] {
      width: 80px;
      margin-right: 10px;
    }
  }
  